<div class="tudo">
 <h1>Lista de Apoios</h1>

<div>



<% @meetings.each do |meeting| %>
    <div class="meeting">
      <% data_apoio_string = meeting.start_time.strftime("%d/%m/%Y") %>
      <%= meeting.name %>
      <%= data_apoio_string %>
      <%= form_tag delete_meeting_path(meeting.id), method: "delete" do %>
  <%= submit_tag "Excluir apoio dia #{data_apoio_string}" %>
  <% end %>
      <hr>
    </div>
    <% end %>
</div>
</div>
