// Specific CSS for your home-page
.delta {
  background-color: rgba(255, 0, 0, 0.1)
}
.bravo {
  background-color: rgba(0, 255, 0, 0.1)
}
.charlie {
  background-color: rgba(0, 0, 255, 0.1)
}
.alfa {
  background-color: rgba(255, 255, 0, 0.1)
}
.tudo {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  width: 1000px;        /* Set the width */
  margin: 0 auto;      /* Set automatic margins on right/left */
}
